{{ form_start(form) }}
    {{ form_widget(form) }}
    {# Vérifier si la route est "annonces_edit" on affiche les images #}
    {% if app.request.attributes.get('_route') == 'annonce_edit' %}
        <h2>Images</h2>
        {% for image in annonce.images %}
            <div>
                <img src="{{ asset('/uploads/' ~ image.name) }}" alt="Image" width="150">
                <a href="{{ path('annonces_delete_image', {id: image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">Supprimer</a>
            </div>
        {% endfor %}
    {% endif %}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
